

*{
    margin: 0;
}

.p-5{
    background-image: url(img/rodellarPaisaje.jpg);
    align-content: center;
    color:rgb(252, 248, 6);
    text-shadow: 3px 3px 7px black  ;
}
h1{
    text-transform: capitalize;
    }

.icono {
    width:5%;
    height: 5%;
    padding: 3px;
}

body{
    background-image: url(wave-haikei.svg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    align-content:center ;
   
        }
.p2{
    color:white;
    text-align: center;
    padding: 4px;
    }
    .card-title{
        text-decoration: underline;
        text-transform: capitalize;
    }

.mapa{
    align-content: center;
    align-items: center;
    display: flex;
}

.nav-link:hover {
    color:rgb(252, 248, 6) !important;
    text-decoration: underline;
}
.actividades{
    padding: 10px;
    }

.card{align-content: space-around;
    display: inline-flex;
    align-items: center;
    margin: 5px;
}
.contactomsj{
    color:white;
    text-transform: capitalize;
}
.btn-primary{
    text-shadow: none;
    text-transform: capitalize;
    align-items: center;
    align-content: center;
    border: fuchsia ,solid ,3px;
}
button{
    background-color: yellowgreen;
    align-items: center;
    align-content: center;
    text-shadow: none;
    
}
.quienessomos{
    color:white;
    padding:10px;
}
.conteinerfluid{
    text-align: center;
    color: aliceblue;
    height: 50px;
    background-color: black;
}

.card-body{
    background-color: white;
    background-image: url(imagenes/icono\ escalada.png);
    background-position: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
}

a:hover{
    color :red;
    text-transform: uppercase;
}